<div class="p-3 vh-100" style="background-color: #f7f7fa;">
  <a href="/" class="d-flex align-items-center pb-2 mb-3 link-body-emphasis text-decoration-none border-bottom">
    <svg class="bi pe-none me-2" width="30" height="24">
      <use xlink:href="#bootstrap" />
    </svg>
    <span class="fs-5 fw-semibold">DOUDHAL CONNECT</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1" *ngFor="let menu of menuItems">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
        data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
        {{ menu.name }}
      </button>
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li *ngFor="let subMenu of menu.children">
            <a href={{subMenu.link}} class="link-body-emphasis d-inline-flex text-decoration-none rounded">
              {{ subMenu.name }}
            </a>
          </li>
        </ul>
      </div>
    </li>
    <!-- Profil -->
    <button type="button" class="btn btn-primary">Mon profil</button>
  </ul>
</div>
