<div class="main-wrapper login-body">
    <div class="card w-100">
        <div class="row bg-primary-subtle">
            <div class="col-md-6 d-none d-md-flex justify-content-center align-items-center card bg-primary">
                <img src="../assets/images/login/login-image.png" alt="Login Image">
            </div>
            <div class="col-md-6 p-4">
                <div class="text-center mb-4">
                <h3 class="card-title">Connexion</h3>
                <p class="card-text">Please login to your account</p>
                </div>
                <form>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                    <label for="floatingInput">Email address</label>
                    <i class="bi bi-envelope"></i>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                    <i class="bi bi-lock"></i>
                </div>

                <button type="submit" class="btn btn-primary w-100">Login</button>

                </form>
            </div>
        </div>
    </div>
</div>