<div class="main-wrapper login-body">
    <div class="card w-100">
        <div class="row">
            <div class="col-md-6 d-nonev card bg-primary">
                <img src="../assets/images/login/login-image.png" alt="Login Image">
            </div>
            <div class="col-md-6 p-4">
                <div class="text-start mb-4">
                    <h6 class="card-title">Bienvenue chez <em>DOUDHAL-CONNECT</em></h6>
                    <p class="card-text">Veuillez vous connecter à votre compte</p>
                </div>
                <div class="text-start mb-4">
                    <h3 class="card-title">Connexion</h3>
                </div>
                <form>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                        <label for="floatingInput">Adresse email</label>
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                        <label for="floatingPassword">Mot de passe</label>
                        <i class="fas fa-lock"></i>
                    </div>

                    <button type="submit" class="btn btn-primary w-30">Connexion <i class="fas fa-sign-in-alt"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
